/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: Montserrat, Serif;
    background-color: white;

    .header {
        margin: auto;
        background-image: radial-gradient(61.83% 61.83% at 50% 50%, rgba(225, 186, 110, 0) 0%, rgba(225, 186, 110, 0.7) 100%), url(./img/svg/potatos.svg);
        background-size: cover; /* <------ */
        background-repeat: no-repeat;
        height: 900px;
        width: 1920px;

        .header_row {
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            width: inherit;

            .header_col {
                display: inline-flex;
                height: 100px;

                .logo {
                    width: 61px;
                    height: 67px;
                    margin-left: 380px;
                }

                nav {
                    margin-top: 13px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 20px;
                        margin-right: 60px;
                    }

                    a:hover {
                        border-bottom: solid 4px #ECBA46;
                    }
                }

                .button_request {
                    color: white;
                    border: solid 1px white;
                    width: 240px;
                    height: 50px;
                    margin-right: 360px;
                    border-radius: 130px;
                    text-align: center;
                    vertical-align: center;
                    cursor: pointer;

                    .button_request_text {
                        margin-top: 5%;
                        font-weight: 500;
                        font-size: 20px;
                    }

                }

                .button_request:hover{
                    background-color: white;
                    color: black;
                }
            }

            .potato {
                color: white;
                font-weight: 900;
                font-size: 112px;
                text-align: center;
                margin-top: 186px;
                margin-left: auto;
                margin-right: auto;
            }

        }
    }

    .content {
        width: 1920px;
        height: 840px;
        margin: auto;

        .text {
            width: 180px;
            color: #343434;
            font-size: 60px;
            font-weight: 800;
            line-height: 73.14px;
            text-align: center;
            padding-top: 105px;
            padding-bottom: 20px;
            margin-left: auto;
            margin-right: auto;


        }

        .text:hover {
            border-bottom: solid 10px #ECBA46;
        }

        .slider {

            display: inline-flex;
            .button {
                width: 44px;
                height: 82px;
                top: 1340px;
                left: 575px;
                padding: 4px 4px 4px 5px;
                background-color: #343434;

                &.left {
                    display: flex;

                }

                &.right {
                    display: flex;

                }
            }
            .slider_content {
                width: 570px;
                height: 500px;
                background-color: #ECBA46;
                margin-top: 50px;
                position: absolute;
                margin-right: auto;
                margin-left: auto;
                display: flex;

            }

        }


        #price {
            width: 180px;
            height: 50px;
            background-color: white;

        }


    }

    #video {
        background-color: #35312D;

        .video_windows {
            background-color: #339af0;
            height: 200px;
            width: 300px;
            padding-top: 100px;
        }
    }

    #about {
        background-color: green;
    }


}






